<!DOCTYPE html>
<html>
<head>
	<title>Online confirm</title>
</head>
<body>
	<header>
		<h1>Welcome to Online Result Confirmation, <br>
			
		<h2>we're using rails version <%= Rails.version %></h2>
	</header>

	<section>
		<h2>This is the future dashboard of the application</h2>
	</section>

	

</body>
</html>