<h1>Activation Request</h1>

<p>
 <%= @user.title %> <%= @user.surname %>, has just signed up to the Confirmation portal, Kindly activate or deactivate this account to allow or restrict access.

 click here, <%= new_user_session_url(@user) %> 
</p>
