<h1>Payment Receipt Notification</h1>

<div>
    <p>Dear <%= @payment.CandName %> </p>
    <p>This is to acknowledge the payment of N<%=  @payment.amount %>, with receipt number <%=  @payment.receipt_no %> for the processing of your Result Confirmation.</p>
    <p>Your request is currently being processed and will be dispatched soonest.</p>
    <br>
    <br>
    <p>Thank you.</p>
    <p>Result Confirmation Team</p>

</div>