<p id="notice"><%= notice %></p>

<p>
  <strong>Servicetype:</strong>
  <%= @app_service_type.ServiceType %>
</p>

<%= link_to 'Edit', edit_app_service_type_path(@app_service_type) %> |
<%= link_to 'Back', app_service_types_path %>
