<h1>Editing Web Service File Upload Response</h1>

<%= render 'form', web_service_file_upload_response: @web_service_file_upload_response %>

<%= link_to 'Show', @web_service_file_upload_response %> |
<%= link_to 'Back', web_service_file_upload_responses_path %>
