<h1>Editing Confirm Backup Datum</h1>

<%= render 'form', confirm_backup_datum: @confirm_backup_datum %>

<%= link_to 'Show', @confirm_backup_datum %> |
<%= link_to 'Back', confirm_backup_data_path %>
