<!DOCTYPE html>
<html>
  <head>
    <title>ConfirmationAngularApp</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app='verifier' ng-controller="UserSessionsCtrl as sessions">  
  
  <!-- MAIN CONTENT -->
  <!-- <div class="container"> -->
  <div class="container">

    <!--  <nav-bar></nav-bar>-->
    <div class="navbar navbar-inverse navbar-shrink" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">WAEC Confirmation Of Result</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="#/home/">Home</a></li>              
        <li ng-hide="user.id"><a href="#/sign_in">Sign in</a></li> 


          <li ng-show="sessions.signedIn() && sessions.examAccess" class="dropdown">
          <a class="dropdown-toggle"  data-toggle="dropdown">Verifier
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/search">Search Verifier</a></li>
              <li><a href="#/confirmations">Confirmations List</a></li>
              <li class="divider"></li>
              <li><a href="#/verifer/payments">payments Search</a></li>
           </ul>
        </li>
          <li ng-show="sessions.usrSecond"><a ng-click="sessions.signatoryLogout()">{{sessions.usrSecond.surname + " "+ sessions.usrSecond.othernames}}(LogOut)</a></li>
        <li ng-show="sessions.signedIn() && sessions.auditAccess || sessions.signedIn() && sessions.accountAccess" class="dropdown">
          <a class="dropdown-toggle"  data-toggle="dropdown">Account
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#/audit/new">Log Receipt Booklet</a></li>
              <li><a href="#/audit/edit">Receipt Correction</a></li>
              <li><a href="#/audit/search">Confirm Search</a></li>
              <li ng-show="sessions.signedIn() && sessions.accountAccess"><a href="#/audit/payments">Make Payment</a></li>
              <li ng-show="sessions.signedIn() && sessions.accountAccess"><a href="#/audit/All-Payments">All Payments Transactions</a></li>
              <li ng-show="sessions.signedIn() && sessions.auditAccess"><a href="#/audit/Audit_All-Payments">All Payments Transactions(Audit)</a></li>
              
              <li class="divider"></li>
           </ul>
        </li>

    </ul>


      <ul class="nav navbar-nav navbar-right" ng-show="user.id"> 
        <li ng-show="sessions.signedIn() && sessions.adminAccess"><a href="#/management">management</a></li>
        <li ng-show="sessions.signedIn()"><a href="#/users/{{user.id}}">{{"Welcome! " + user.surname + " "+ user.othernames}}</a></li> 
          <li ng-show="sessions.signedIn()" class="dropdown">
            <a class="dropdown-toggle"  data-toggle="dropdown" >Profile<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-show="sessions.signedIn()"><a href="#/account_update" ng-click="clickedEdit(user)">Update Password</a></li>
                <li><a href="#/users">Users</a></li>
                <li><a href="#/signature">Upload Your Signature</a></li>
                <li class="divider"></li>
                <li ng-show="sessions.signedIn()"><a ng-click="sessions.logout()">Log Out</a></li>
              </ul>
          </li> 
        </ul>
        <br>
</div>

        <div ng-view ></div>
        
  </div>
  </body>
</html>
